*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

h1{
    padding-bottom: 1rem;
}

p{
    padding-bottom: 0.5rem;
}

h3{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100rem;
}

.wrapper-2{
    width: 100rem;
}

.wrapper-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100rem;
}

.wrapper-4{
    width: 100rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapper-5{
    width: 100rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapper-6{
    width: 100rem;
}

.wrapper-7{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100rem;
}

.wrapper-8{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100rem;
}

.container{
    width: 100%;
    font-size: 1.5rem;
}

.header{
    min-height: 50rem;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)) ,url('./bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.nav-bar{
    color: white;
    align-items: center;
    font-size: 1.6rem;
    padding: 0 4rem;
}

.logo{
    width: 13rem;
    height: 8rem;
    margin-right: auto;
}

.logo-pic{
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}

.home{
    color: goldenrod;
    margin-right: 4rem;
}

.about{
    margin-right: 4rem;
}

.book{
    margin-left: auto;
    padding: 1rem 2rem;
    color: white;
    background-color: rgb(218, 194, 134);
    border-radius: 2rem;
}

.main{
    text-align: center;
    color: white;
    height: 42rem;
    padding: 4rem;
    padding-top: 0;
}

.claim{
    margin-top: 2rem;
    padding: 1rem 2rem;
    color: white;
    background-color: transparent;
    border-radius: 2rem;
    border: 0.2rem solid white;
}

.boxes{
    position: relative;
    top: -10rem;
    padding: 4rem;
    padding-bottom: 0;
}

.box{
    text-align: center;
    width: 20rem;
    height: 15rem;
    padding: 3rem;
    color: white;
    background-color: rgb(21, 21, 43);
    border-radius: 1rem;
}

.icon{
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.box-1{
    margin-right: auto;
}

.box-2{
    margin-right: auto;
    margin-left: 1rem;
}

.box-3{
    margin-left: 1rem;
}

.primary{
    padding: 4rem;
    padding-top: 0;
}

.more{
    margin-top: 2rem;
    padding: 1rem 2rem;
    color: black;
    background-color: transparent;
    border-radius: 2rem;
    border: 0.2rem solid black;
}

.content-1{
    margin-right: 3rem;
}

.pic-1{
    height: 90%;
}

.pic-1-1{
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}

.num{
    border-radius: 2rem;
    position: relative;
    top: -2rem;
    right: -1rem;
    margin-left: auto;
    max-width: max-content;
    padding: 1rem 2rem;
    color: white;
    display: flex;
    background-color: rgb(177, 157, 107);
}

.num-1{
    padding-left: 1rem;
}

.secondary{
    background-color: lightgray;
    padding: 4rem;
}

.image-2{
    background-image: url('./download.png');
    background-size: 100% 100%, contain;
    background-repeat: no-repeat;
    color: white;
    font-size: 5rem;
    border-radius: 1rem;
}

.content-2{
    border-radius: 1rem;
    margin-left: 2rem;
    background-color: white;
    padding: 2rem;
}

.icon-1{
    padding-right: 1rem;
    color: goldenrod;
    font-size: 2rem;
}

.common-1{
    display: flex;
    padding: 1rem;
}

.claims{
    padding-top: 2rem;
}

.review{
    background-image: url('./bg-1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 4rem;
    font-size: 1.6rem;
}

.profile{
    margin: auto;
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
}

.profile-image{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.newyork{
    color: rgb(108, 189, 240);
}

.extra{
    padding: 4rem;
    background-color: rgb(35, 35, 59);
    color: goldenrod;
}

.pic-3{
    height: 80%;
}

.pic-3-1{
    width: 100%;
    height: 100%;
}

.icon-2{
    display: flex;
    font-size: 1.2rem;
    padding-top: 1rem;
    color: white;
}

.common-2{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    background-color: gray;
    border-radius: 50%;
}

.facebook{
    margin-right: 0.5rem;
}

.common-3{
    display: flex;
    padding-top: 1rem;
    color: white;
}

.links{
    padding: 2rem;
    margin: auto;
}

.icon-3{
    color: goldenrod;
    padding-right: 1rem;
}

.info{
    padding: 2rem;
    margin: auto;
}

.icon-4{
    color: goldenrod;
    padding-right: 1rem;
}

.footer{
    font-size: 1.5rem;
    padding: 2rem 4rem;
    background-color: rgb(21, 21, 43);
    color: white;
}

.icon-5{
    margin-right: 1rem;
}

@media only screen and (max-width: 700px){

    .container{
        font-size: 1.2rem;
    }

    .nav-bar{
        font-size: 1.3rem;
    }

    .home,
    .about,
    .contact{
        display: none;
    }

    .boxes{
        position: relative;
        top: 0;
        left: auto;
    }

    .wrapper-3{
        display: block;
        max-width: max-content;
        margin-bottom: 2rem;
    }

    .box-1{
        margin-left: 1rem;
    }
    
    .box-2{
        margin-top: 1rem;
    }
    
    .box-3{
        margin-top: 1rem;
    }

    .wrapper-4{
        margin-top: 2rem;
        display: block;
    }

    .image-1{
        margin-top: 2rem;
    }

    .wrapper-5{
        display: block;
    }

    .image-2{
        height: 35rem;
    }

    .content-2{
        margin-top: 2rem;
        margin-left: 0;
    }

    .wrapper-7{
        max-width: max-content;
        display: block;
        margin: auto;
    }

    .footer{
        font-size: 1rem;
    }

}

@media only screen and (max-width: 500px){

    .book{
        display: none;
    }

    .wrapper-1{
        max-width: max-content;  
    }

    .image-2{
        height: 25rem;
    }

    .footer{
        font-size: 0.7rem;
    }
}


